.wrap {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.topShow {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 5%;
    right: 5%;
    z-index: 1;
}

.topBtn {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000;
    position: relative;
}

.topBtn::before {
    content: 'top';
    display: block;
    position: absolute;
    top: 25%;
    left: 15%;
    width: 70%;
    text-align: center;
    color: #fff;
}

.topBtn::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 25%;
    left: 15%;
    width: 70%;
    height: 5px;
    background-color: #fff;
}

/* 導覽列 */
nav {
    max-width: 1000px;
    margin: 0 auto;
    background-color: skyblue;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navList {
    display: flex;
}

.navItem {
    width: 33.333%;
    text-align: center;
}

.navLink {
    font-size: 1.5rem;
}

/* 定位 */
.thing01-1 {
    width: 50%;
    left: 5%;
    top: 5%;
}

.thing01-1 {
    width: 61.2%;
    left: 9%;
    top: 6%;
    -webkit-mask: url("../images/thing01-1.png") no-repeat center center;
    mask: url("../images/thing01-1.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.thing01-2 {
    width: 58.9%;
    right: 5%;
    top: 5.5%;
    animation: rotate 2s infinite steps(3);
    mix-blend-mode: screen;
}
.thing02-1 {
    width: 45.1%;
    left: 15%;
    top: 30.5%;
    animation: rotate 2s infinite steps(3);
}

.thing02-2 {
    width: 39.6%;
    right: 4%;
    bottom: 20.5%;
    animation: rotate 2s .25s infinite steps(3);
}

.thing02-3 {
    width: 51.4%;
    left: 6.5%;
    bottom: 2%;
    animation: rotate 2s .5s infinite steps(3);
}


.thing03-1 {
    width: 23.7%;
    right: 10.5%;
    bottom: 42%;
    animation: rotate 2s infinite steps(3);
    transform-origin: bottom center;
}

.thing05-1 {
    width: 43.8%;
    right: 9%;
    top: 34.5%;
}

.thing05-2 {
    width: 42.1%;
    right: 7%;
    top: 50%;
}

.thing05-3 {
    width: 49.2%;
    left: 11%;
    bottom: 26%;
}

.thing05-4 {
    width: 49.3%;
    right: 5%;
    bottom: 1.5%;
}

.phone {
    width: 77.9%;
    left: 11%;
    top: 24.5%;
    -webkit-mask: url("../images/phone.png") no-repeat center center;
    mask: url("../images/phone.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

/* offer */
.offerBtn {
    -webkit-mask: url("../images/offerBtn.png") no-repeat center center;
    mask: url("../images/offerBtn.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
    transition: all .3s;
}

.offerBtn:hover {
    opacity: 0.8;
}


.offer01 {
    width: 77.5%;
    left: 12%;
    bottom: 13%;
}

.offer02 {
    width: 77.5%;
    left: 12%;
    bottom: 23%;
}

.offer03 {
    width: 77.5%;
    left: 12%;
    bottom: 15.5%;
}

.offer04 {
    width: 77.5%;
    left: 12%;
    bottom: 23%;
}

.offer05 {
    width: 77.5%;
    left: 12%;
    bottom: 15.5%;
}

.offer06 {
    width: 77.5%;
    left: 12%;
    bottom: 28.5%;
}